.form{
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.formulaire__div{
    margin : clamp(5px, 4vw, 40px);
}

.formulaire__{
    font-size: clamp(1.5rem, 4vw, 35px);
    color: #600000;
    font-family: 'Miltonian Tattoo';
}

.formulaire__input{
    margin: 10px 0;
    color: #ad0d0d;
    font-size: clamp(.5rem, 4vw, 25px)
}

.formulaire__input:checked{
    background-color: brown;
}

.form section{
    display: flex;
    flex-direction: column;
    margin-bottom:clamp(1.5rem, 1vw, 30px)
}

.formulaire__label{
    font-size:clamp(10px, 4vw, 25px);
}

#input{
    margin: 25px;
    font-size: clamp(1.5rem, 4vw, 25px)
}

.form p{
   font-size: clamp(1.5rem, 4vw, 35px) ;
   color: #600000;
    font-family: 'Miltonian Tattoo';
    margin: clamp(0px, 4vw, 20px);
}