* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}

.global {
    background-color: #ffbf00;
}

.centre {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffe084;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.recette__div li {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    line-height: 1.5rem;
    margin-top: 5px;
}

.recette__div ol {
    margin-top: 10px;
}

#recette {}

.recette {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    border-bottom: 15px dotted #91837794;
}

.centre h1 {
    font-family: "DynaPuff";
    font-size: clamp(1rem, 4vw, 4rem);
    color: #000;
    text-shadow: none;
    margin: 50px;
    font-weight: normal;
}

.centre h2 {
    font-family: "DynaPuff";
    font-size: 20px;
    font-style: normal;
}

.recette:nth-of-type(odd) {
    .recette__image {
        transform: rotate(-5deg);
        transition: transform 1s;
    }
}

.recette:nth-of-type(odd) {
    .recette__image:hover {
        transform: rotate(0deg);
    }
}

.recette:nth-of-type(odd) {
    .recette__div {
        order: 3;
    }
}

.centre h3 {
    font-family: "DynaPuff";
    font-size: 15px;
}


.recette__div {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    margin: 0px 20px 0px 20px;
}


.recette__image {
    transform: rotate(5deg);
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 300px;
    transition: transform 1s;
}

.recette__image:hover {
    transform: rotate(0deg);
}


.recette__figure {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    border-radius: 5%;
    border: 2px solid #aaa;
    padding: 20px;
    margin: 0px 25px 0px 25px;
}

.recette__img {
    display: block;
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

.recette__figcaption {
    background-color: #b5ab73;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.home{
    position: fixed;
    bottom: 10px;
    right: 20px;
    transition: filter 2s;
    filter: none;
    z-index: 9999;
}

.home :hover{
   filter: invert(75%);
}